.fondoItem{
    background-color: rgb(87, 195, 87);
    height: 130px;
    border-radius: 20px;
    color:white;
}

.sexo{
    font-size: 40px;
}

.estiloNumero{
    font-size:30px;
    font-weight: 800;
    margin-top: -30px;
}

.estiloCm{
    font-size: 16px;
    font-weight: 400;
    margin-left: -10px;
}

.form-range{
    padding: 0px 20px;
}

.plusMinus{
    cursor:pointer;
    background-color: rgb(157, 233, 157);
    padding: 7px;
    border-radius: 15px;
    margin-left: 3px;
}
