<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h3 class="titulo">Calculadora BMI</h3>
        <!-- Bloques (Masculino-Femenino)-->
        <div class="row">
            <div class="col-lg-6">
                <div class="fondoItem">
1
                </div>
            </div>
            <div class="col-lg-6">
                <div class="fondoItem">2</div>
            </div>

        </div>
        <!--Bloque Altura-->
        <div class="row">
            <div class="col-lg-12">
                <div class="fondoItem">3</div>
            </div>
        </div>
        <!--Bloque (Peso-Edad)-->
        <div class="row">
            <div class="col-lg-6">
                <div class="fondoItem">
1
                </div>
            </div>
            <div class="col-lg-6">
                <div class="fondoItem">2</div>
            </div>

        </div>
         <!--Boton (Calcular)-->
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary btn-lg btn-block btn-color">Calcular</button>
            </div>
        </div>
    </div>
</div>
