/* You can add global styles to this file, and also import other style files */
body{
    background: rgb(157, 233, 157);
}

.titulo{
    font-family: 'Raleway', sans-serif;
    color:white;
    text-align: center;
    margin-top:25px;
}

.row{
    margin-top:20px;
}


.btn-color{
  background-color: rgb(70, 160, 202);  
  border-color: rgb(70, 160, 202); 
  border-radius: 25px;
  width: 100%;
}

/*para que al pasar el raton por el boton no cambie el color*/
.btn-color:hover{
    background-color: rgb(70, 160, 202); 
}

.contenedor{
    display:flex; /*alinea el contenido en una linea*/
    justify-content: center; /*centra el contenido desde arriba*/
    align-items:center; /*alineacion al centro desde la izq*/
    flex-direction: column;  /*direcciona el contenido uno debajo de otro*/
    height: 100%; /*para que coja el 100% del contendor*/
}